{% extends 'base.html.twig' %}

{% block title %}Edit InitiativeAttribute{% endblock %}

{% block body %}
    <h1>Edit InitiativeAttribute</h1>

    {{ include('initiative_attribute/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('initiative_attribute_index') }}">back to list</a>

    {{ include('initiative_attribute/_delete_form.html.twig') }}
{% endblock %}
