{% extends 'base.html.twig' %}

{% block title %}New InitiativeAttribute{% endblock %}

{% block body %}
    <h1>Create new InitiativeAttribute</h1>

    {{ include('initiative_attribute/_form.html.twig') }}

    <a href="{{ path('initiative_attribute_index') }}">back to list</a>
{% endblock %}
