{% extends 'base.html.twig' %}

{% block title %}Edit Perspective{% endblock %}

{% block body %}
    <h1>Edit Perspective</h1>

    {{ include('perspective/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('perspective_index') }}">back to list</a>

    {{ include('perspective/_delete_form.html.twig') }}
{% endblock %}
