{% extends 'base.html.twig' %}

{% block title %}New Perspective{% endblock %}

{% block body %}
    <h1>Create new Perspective</h1>

    {{ include('perspective/_form.html.twig') }}

    <a href="{{ path('perspective_index') }}">back to list</a>
{% endblock %}
