{% extends 'base.html.twig' %}

{% block title %}New OperationalManager{% endblock %}

{% block body %}
    <h1>Create new OperationalManager</h1>

    {{ include('operational_manager/_form.html.twig') }}

    <a href="{{ path('operational_manager_index') }}">back to list</a>
{% endblock %}
