<form method="post" action="{{ path('planning_year_delete', {'id': planning_year.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planning_year.id) }}">
    <button class="btn">Delete</button>
</form>
