<form class="form-inline" method="post" style="display:inline;" action="{{ path('principal_office_delete', {'id': principal_office.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ principal_office.id) }}">
    <button class="btn btn-danger btn-sm" style="display:inline;">Delete</button>
</form>
