{% extends 'base.html.twig' %}

{% block title %}New PrincipalOffice{% endblock %}

{% block body %}
    <h1>Create new PrincipalOffice</h1>

    {{ include('principal_office/_form.html.twig') }}

    <a href="{{ path('principal_office_index') }}">back to list</a>
{% endblock %}
