{% extends 'base.html.twig' %}

{% block title %}New OfficeKpiPlan{% endblock %}

{% block body %}
    <h1>Create new OfficeKpiPlan</h1>

    {{ include('office_kpi_plan/_form.html.twig') }}

    <a href="{{ path('office_kpi_plan_index') }}">back to list</a>
{% endblock %}
