{% extends 'base.html.twig' %}

{% block title %}Edit InitiativeBehaviourCatagory{% endblock %}

{% block body %}
    <h1>Edit InitiativeBehaviourCatagory</h1>

    {{ include('initiative_behaviour_catagory/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('initiative_behaviour_catagory_index') }}">back to list</a>

    {{ include('initiative_behaviour_catagory/_delete_form.html.twig') }}
{% endblock %}
