<form method="post" action="{{ path('feed_back_delete', {'id': feed_back.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feed_back.id) }}">
    <button class="btn">Delete</button>
</form>
