{% extends 'base.html.twig' %}

{% block title %}Edit FeedBack{% endblock %}

{% block body %}
    <h1>Edit FeedBack</h1>

    {{ include('feed_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('feed_back_index') }}">back to list</a>

    {{ include('feed_back/_delete_form.html.twig') }}
{% endblock %}
