{% extends 'general.html.twig' %}

{% block title %}New FeedBack{% endblock %}

{% block body %}
<div class="row center" style="margin: auto;">

   
    {{ include('feed_back/_form.html.twig') }}
    </div>

   
{% endblock %}
