{% extends 'general.html.twig' %}

{% block title %}New FeedBack{% endblock %}

{% block body %}
<div class="row" style="margin: auto;">

   <div class="col-md-7">
   </div>
    {{ include('feed_back/_form.html.twig') }}
    </div>

   
{% endblock %}
