{% extends 'base.html.twig' %}

{% block title %}New UnitOfMeasurement{% endblock %}

{% block body %}
    <h1>Create new UnitOfMeasurement</h1>

    {{ include('unit_of_measurement/_form.html.twig') }}

    <a href="{{ path('unit_of_measurement_index') }}">back to list</a>
{% endblock %}
