{% extends 'base.html.twig' %}

{% block title %}Edit Vichels
{% endblock %}

{% block body %}

	<div class="row">
		<div class="card col-md">

			<div class="card ">
				<div class="card-header">


					<div class="card-tools">

						<a href="{{ path('vichels_index') }}" class="btn btn-primary">Back</a>

					</div>
					<!-- /.card-tools -->
				</div>
				<!-- /.card-header -->
				<div class="card-body mb-0 pb-0"></div>
				<!-- /.card-body -->
			</div>

			{{ include('vichels/_form.html.twig', {'button_label': 'Update'}) }}


			{{ include('vichels/_delete_form.html.twig') }}

		</div>
	</div>

{% endblock %}
