{% extends 'base.html.twig' %}

{% block title %}New SmisSetting{% endblock %}

{% block body %}
    <h1>Create new SmisSetting</h1>

    {{ include('smis_setting/_form.html.twig') }}

    <a href="{{ path('smis_setting_index') }}">back to list</a>
{% endblock %}
