{% extends 'base.html.twig' %}

{% block title %}New Sms{% endblock %}

{% block body %}
    <h1>Create new Sms</h1>

    {{ include('sms/_form.html.twig') }}

    <a href="{{ path('sms_index') }}">back to list</a>
{% endblock %}
