{% extends 'base.html.twig' %}
{% block body %}
<div class="col-md-12 col-sm-12 widget-container-col" id="widget-container-col-8">
<div class="widget-box widget-color-blue">
	<div class="widget-header">
			<h5 class="widget-title bigger lighter">
				<strong>Operational Office plan
                </strong>
			</h5>
			<div class="widget-toolbar"></div>
			<div class="widget-toolbar">
				<span class="badge badge-info">
					
					<strong></strong>
				</span>
			</div>
		</div>
        <div class="widget-body">
        
        </div>
</div>

</div>
{% endblock %}