<form method="post" action="{{ path('operational_office_delete', {'id': operational_office.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ operational_office.id) }}">
    <button class="btn">Delete</button>
</form>
