{% extends 'base.html.twig' %}

{% block title %}Edit Sposnsorship{% endblock %}

{% block body %}
    <h1>Edit Sposnsorship</h1>

    {{ include('sposnsorship/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sposnsorship_index') }}">back to list</a>

    {{ include('sposnsorship/_delete_form.html.twig') }}
{% endblock %}
