{% extends 'base.html.twig' %}

{% block title %}Edit InitiativeMeasurement{% endblock %}

{% block body %}
    <h1>Edit InitiativeMeasurement</h1>

    {{ include('initiative_measurement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('initiative_measurement_index') }}">back to list</a>

    {{ include('initiative_measurement/_delete_form.html.twig') }}
{% endblock %}
