<form method="post" action="{{ path('key_performance_indicator_delete', {'id': key_performance_indicator.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ key_performance_indicator.id) }}">
    <button class="btn">Delete</button>
</form>
