{% extends 'base.html.twig' %}

{% block title %}New SuitableInitiative{% endblock %}

{% block body %}
    <h1>Create new SuitableInitiative</h1>

    {{ include('suitable_initiative/_form.html.twig') }}

    <a href="{{ path('suitable_initiative_index') }}">back to list</a>
{% endblock %}
