{% extends 'base.html.twig' %}

{% block title %}New PlanAchievement{% endblock %}

{% block body %}
    <h1>Create new PlanAchievement</h1>

    {{ include('plan_achievement/_form.html.twig') }}

    <a href="{{ path('plan_achievement_index') }}">back to list</a>
{% endblock %}
