{% extends 'base.html.twig' %}

{% block title %}Edit TaskAssign{% endblock %}

{% block body %}
    <h1>Edit TaskAssign</h1>

    {{ include('task_assign/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('task_assign_index') }}">back to list</a>

    {{ include('task_assign/_delete_form.html.twig') }}
{% endblock %}
