<!DOCTYPE html>
<!-- saved from url=(0069)https://www.100forms.com/sources/ready-forms/student-evaluation-form/ -->
<html lang="en">
	<head>
		<style>
			table {

				border-collapse: collapse;
				width: 100%;
			}

			td,
			tr,
			th {
				border: 1px solid #000;
				text-align: left;
				padding-left: 15px;
				font-size: 11px;

			}
			{# body {
				border-style: line;
			} #}
		</style>

	</head>


	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

			<center><img class="img-responsive" height="80" width="100" src="{{ absolute_url(asset('assets/favicon.png')) }}"/></center>


		<center>
			<h2>Performance Appraisal Certificate
			</h2>
		</center>
        <p>College/Institute/Directorate</p>
     <h5>Evaluation Period     Year <u>2013</u> Period From <u>01/01/2013 </u> To <u> 03/30/2013 </u> months</h5>
        <h5>Evaluater Name</h5>
        <h5>Evaluatee Id</h5>


		<table>
			<tr>
				<th>Column 1</th>
				<th>Column 2</th>
				<th>Column 3</th>
			</tr>
			<tr>
				<td rowspan="2">Row 1 Cell 1</td>
				<td>Row 1 Cell 2</td>
				<td>Row 1 Cell 3</td>
			</tr>
			<tr>
				<td>Row 2 Cell 2</td>
				<td>Row 2 Cell 3</td>
			</tr>
			<tr>
				<td colspan="3">Row 3 Cell 1</td>
			</tr>
		</table>


	</body>
</html>
