{% extends 'base.html.twig' %}

{% block title %}New QuarterAccomplishment{% endblock %}

{% block body %}
    <h1>Create new QuarterAccomplishment</h1>

    {{ include('quarter_accomplishment/_form.html.twig') }}

    <a href="{{ path('quarter_accomplishment_index') }}">back to list</a>
{% endblock %}
