{% extends 'base.html.twig' %}

{% block title %}New InitiativeCategory{% endblock %}

{% block body %}
    <h1> New InitiativeCategory</h1>

    {{ include('initiative_category/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('initiative_category_index') }}">back to list</a>
{% endblock %}
