{% extends 'base.html.twig' %}


{% block subTitle %}
	<li class="active">{% trans %}
		SMIS{% endtrans %}</li>
	<li class="active">
		<a href="{{path('goal_index')}}">{% trans %}
			<strong>
				Goal{% endtrans %}
			</strong>
		</a>
	</li>
{% endblock %}

{% block body %}
	{% set locale = app.request.locale %}

	<a class="btn btn-primary btn-sm btn-white btn-round" data-toggle="modal" data-target="#myModal">
		<i class="ace-icon fa fa-eye bigger-110 blue"></i>
		{% trans %}
		View Strategic Map{% endtrans %}
		<a href="{{ asset('assets/assets/images/strategic'~ locale ~'.png')}}" width="1300" target="_blank" height="600">
			View</a>
	</a>
	{% set locale = app.request.locale %}

	<div id="myModal" class="modal fade" role="dialog">
		<div
			class="modal-dialog " style="width:1300px;">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header modal-primary">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					{# <h4 class="modal-title">New Goal</h4> #}
				</div>
				<div class="modal-body">
					<div class="row">
						<img src="{{ asset('assets/assets/images/strategic'~ locale ~'.png') }}" width="1300" height="600"/>
					</div>


				</div>


			</div>
		</div>

	</div>

</div>{% endblock %}
