{% extends 'base.html.twig' %}

{% block title %}Edit CoreTask{% endblock %}

{% block body %}
    <h1>Edit CoreTask</h1>

    {{ include('core_task/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('core_task_index') }}">back to list</a>

    {{ include('core_task/_delete_form.html.twig') }}
{% endblock %}
