{% extends 'base.html.twig' %}

{% block title %}New CoreTask{% endblock %}

{% block body %}
    <h1>Create new CoreTask</h1>

    {{ include('core_task/_form.html.twig') }}

    <a href="{{ path('core_task_index') }}">back to list</a>
{% endblock %}
