<form method="post" action="{{ path('task_measurement_delete', {'id': task_measurement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task_measurement.id) }}">
    <button class="btn">Delete</button>
</form>
