{% extends 'base.html.twig' %}

{% block title %}New TaskMeasurement{% endblock %}

{% block body %}
    <h1>Create new TaskMeasurement</h1>

    {{ include('task_measurement/_form.html.twig') }}

    <a href="{{ path('task_measurement_index') }}">back to list</a>
{% endblock %}
