

		<li>
			<a href="{{path('student')}}">
				<b class="fa fa-caret-right"></b>
				{% trans %}Student Information{% endtrans %}
			</a>
		</li>
		<li>
			<a href="#">
				<b class="fa fa-caret-right"></b>
				{% trans %}Employe Information{% endtrans %}
			</a>
		</li>
		
		
