{# {% if is_granted("feed_back") %} #}


	
    <li>
		<a href="{{ path('feed_back_index') }}">
			<b class="fa fa-caret-right"></b>
			{% trans %} FeedBack List{% endtrans %}
		</a>
	</li>
	{# <li>
		<a href="{{ path('feed_back_new') }}">
			<b class="fa fa-caret-right"></b>
			{% trans %}New FeedBack
			{% endtrans %}
		</a>
	</li> #}
{# {% endif %} #}
