{% if is_granted('vw_intv_bvr') or is_granted('vw_intv_atr') or is_granted('vw_intv') %}


<li  class="sublist" role="treeitem">
	<a href="#" class="dropdown-toggle ">
		<i class=""></i>
		<span class="menu-text">

			{% trans %}Initiative Setting{% endtrans %}
		</span>
		<b class="arrow fa fa-angle-down"></b>
	</a>
    <b class="arrow"></b>
	<ul class="submenu" role="treeitem">
   
         {% if is_granted('vw_suit_intv') %}
        <li role="treeitem">
			<a href="{{ path('suitable_initiative_index') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %}suitable Initiative{% endtrans %}
			</a>
		</li>
        {% endif %}
        {% if is_granted('vw_intv_bvr') %}
        
       
		
		<li role="treeitem">
			<a href="{{ path('initiative_behaviour_index') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %}Initiative Behavior
				{% endtrans %}
			</a>
		</li>
         {% endif %}
        {% if is_granted('vw_intv_atr') %}
        
        
		<li role="treeitem">
			<a href="{{ path('initiative_attribute_index') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %}Initiative Attribute
				{% endtrans %}
			</a>
		</li>
        {% endif %}
        </ul>
        </li>
        {% endif %}

