<li>
	<a href="#" class="dropdown-toggle ">
		<i class=""></i>
		<span class="menu-text">

			{% trans %}Plan{% endtrans %}
		</span>
		<b class="arrow fa fa-angle-down"></b>
	</a>
    <b class="arrow"></b>
	<ul class="submenu">
		<li>
			<a href="{{ path('planning_year_index') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %} Planning Year{% endtrans %}
			</a>
		</li>
        <li>
			<a href="{{ path('planning_quarter_index') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %} Reporting Period{% endtrans %}
			</a>
		</li>
		<li>
			<a href="{{ path('planning_phase_index') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %}Report Announsement{% endtrans %}
			</a>
		</li>
		
		
        </ul>
        </li>
