<li>
	<a href="#" class="dropdown-toggle ">
		<i class=""></i>
		<span class="menu-text">

			{% trans %}Plan {% endtrans %}
		</span>
		<b class="arrow fa fa-angle-down"></b>
	</a>
	<ul class="submenu">
		<li>
			<a href="{{ path('principal_office_index') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %}Plan{% endtrans %}
			</a>
		</li>
        <li>
			<a href="{{ path('principal_manager_index') }}">
				<b class="fa fa-caret-right"></b>
				{% trans %}Cascading Achievement{% endtrans %}
			</a>
		</li>
		
		
		
        </ul>
        </li>
