{% if is_granted("vw_usr_lst") %}

	<li>
		<a href="{{ path('user_list') }}">
			<b class="fa fa-caret-right"></b>
			{% trans %}Users{% endtrans %}
		</a>
	</li>
{% endif %}
{% if is_granted("vw_usr_per") %}
	<li>
		<a href="{{ path('permission_index') }}">
			<b class="fa fa-caret-right"></b>
			{% trans %}Permissions{% endtrans %}
		</a>
	</li>
{% endif %}
{% if is_granted("vw_usr_grp") %}

	<li>
		<a href="{{ path('user') }}">
			<b class="fa fa-caret-right"></b>
			{% trans %}User Groups
			{% endtrans %}
		</a>
	</li>
{% endif %}
