{% extends 'base.html.twig' %}

{% block title %}New PrincipalManager{% endblock %}

{% block body %}
    <h1>Create new PrincipalManager</h1>

    {{ include('principal_manager/_form.html.twig') }}

    <a href="{{ path('principal_manager_index') }}">back to list</a>
{% endblock %}
